<%= form_with(model:@task, local:true) do |form| %>
  <% if @task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@task.errors.count, "error") %> prohibited this <%= @task.daytime %> from being saved:</h2>
    <ul>
    <% @task.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <%= form.label :daytime %>
  <br>
  <%= form.date_field :daytime %>
  <br>
  <%= form.label :title %>
  <br>
  <%= form.text_field :title %>
  <br>
  <%= form.label :content %>
  <br>
  <%= form.text_field :content %>
  <br>
  <%= form.label :期限 %>
  <br>
  <%= form.datetime_field :endtime_at, value: Time.zone.now %>
  <%#= form.datetime_select :endtime_at %>
  <br>
  <%= form.select :factory, [["未着手"],["着手中"],["完了"]],include_blank: "選択してください" %>
  <br>
  <% if action_name == 'new' %>
  <%= form.submit '投稿する' %>
  <% else %>
  <%= form.submit '更新する' %>
  <% end %>
<% end %>
