<h1>本当にこれでいいっすか？</h1>
<br>
<h3 id="message">以下の内容でツイートする。</h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <p>日時: <%= @task.due_date %></p>
  <%= form.hidden_field :due_date %>
  <p>title: <%= @task.title %></p>
  <%= form.hidden_field :title %>
  <p>Content: <%= @task.content %></p>
  <%= form.hidden_field :content %>
  <%= form.submit "Post" %>
  <%= form.submit "Back", name: "back" %>
<% end %>
